aniso8601==9.0.1
attrs==21.2.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-JWT-Extended==4.3.0
Flask-RESTful==0.3.9
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
psycopg2==2.9.1
PyJWT==2.1.0
pyrsistent==0.18.0
pytz==2021.1
six==1.16.0
Werkzeug==2.0.1
